﻿@using FeedBack.Entity

@{
    ViewBag.Title = "GetAllPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Post> post = ViewBag.Posts;
}
@Html.Raw(TempData["msg"])

<h2>Posts</h2>
<div class="table-responsive" style="overflow-y: hidden;">
    <table class="table display data-table text-nowrap">
        <thead>
            <tr>
                <th>Sl.</th>
                <th>Post</th>
                <th>Create Time</th>
                <th>See Comment</th>
                <th>Add Comment</th>
            </tr>
        </thead>
        <tbody id="tbodyData">
            @{int sl = 1; }
            @foreach (var d in post)
            {
                <tr>
                    <td style="width:15%">@(sl++)</td>
                    <td style="width:30%">@d.PostMessage</td>
                    <td style="width:30%">@d.CreateDate.ToLocalTime()</td>
                    <td style="width:30%"> <a id="see" href="@Url.Action("GetCommentsByPosts", "Comment", new {PostId = d.PostId})" class="btn-fill-md radius-4 text-light bg-orange-red btn-hover-yellow">See Comment</a>

                    <td style="width:30%"> <a id="add" href="@Url.Action("AddComment", "Comment", new {PostId = d.PostId, UserId = 1, CommentMsg = "nice"})" class="btn-fill-md radius-4 text-light bg-orange-red btn-hover-yellow">Add Comment</a>
                </tr>
            }
        </tbody>
    </table>
</div>
