﻿@using FeedBack.Entity

@{
    ViewBag.Title = "GetAllPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Comments> comment = ViewBag.Comments;
}


@Html.Raw(TempData["msg"])

<h2>Comments for @comment.Select(c=> c.PostMessage).FirstOrDefault()</h2>
<div class="table-responsive" style="overflow-y: hidden;">
    <table class="table display data-table text-nowrap">
        <thead>
            <tr>
                <th>Sl.</th>
                <th>Comment</th>
                <th>Create Time</th>
                <th>User</th>
                <th>Add Feed Back</th>
            </tr>
        </thead>
        <tbody id="tbodyData">
            @{int sl = 1; }
            @foreach (var d in comment)
            {
                <tr>
                    <td style="width:15%">@(sl++)</td>
                    <td style="width:30%">@d.CommentMsg</td>
                    <td style="width:30%">@d.CreateDate.ToLocalTime()</td>
                    <td style="width:30%">@d.UserName</td>
                    <td style="width:30%"> <a id="Save" href="@Url.Action("AddFeedBack", "Comment", new {CommentId = d.CommentId, UserId =5, Interest = 0, PostId = d.PostId})" class="btn-fill-md radius-4 text-light bg-orange-red btn-hover-yellow">Feed Back</a>
                </tr>
            }
        </tbody>
    </table>
</div>
